.paneldark {
  color: #fff;
  background: rgb(23, 32, 42);
}

.buttondark {
  background: #222;
  color: #fff;
}

.panellight {
  color: #222;
  background: #fff;
}

.buttonlight {
  color: #222;
  background: #fff;
}
